# **“Вычисления с помощью Numpy”**

---

### ***Задание 1.***

In [ ]:
import numpy as np
a = np.array([[1, 2, 3, 3, 1],[6, 8, 11, 10, 7]])
a = a.T
mean_a = a.mean(axis=0)
print(a)
print(f"Средние значения столбцов: {mean_a}")

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
Средние значения столбцов: [2.  8.4]

### ***Задание 2.***

In [ ]:
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

### ***Задание 3.***

In [ ]:
a_centered_sp =  a_centered[0:,0].dot(a_centered[0:,1])
print(a_centered_sp)
print(f"{a_centered_sp / (a_centered[0:,1].size - 1)}")

8.0
2.0

### ***Задание 4.***

In [ ]:
b = np.cov(a.T)
print(b[0,1])

2.0

# **“Работа с данными в Pandas”**

---

### ***Задание 1.***

In [1]:
import pandas as pd
authors = pd.DataFrame({'author_id': [1, 2, 3],
                        'author_name': ['Тургенев', 'Чехов', 'Островский']}, columns=['author_id', 'author_name'])
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [4]:
books = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
                        'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 
                                       'Таланты и поклонники'],
                      'price': [450, 300, 350, 500, 450, 370, 290]}, columns=['author_id', 'book_title', 'price'])

books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### ***Задание 2.***

In [5]:
authors_price = pd.merge(authors, books, on='author_id', how = 'outer')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### ***Задание 3.***

In [ ]:
top5 = (authors_price.nlargest(5, 'price')).reset_index()
top5

### ***Задание 4.***

In [59]:
max = (authors_price.groupby('author_name').agg({'price':'max'})).rename(columns={'price':'max_price'})
min = (authors_price.groupby('author_name').agg({'price':'min'})).rename(columns={'price':'min_price'})
mean = (authors_price.groupby('author_name').agg({'price':'mean'})).rename(columns={'price':'mean_price'})
authors_stat = (pd.concat([max['max_price'], min['min_price'], mean['mean_price']], axis=1)).reset_index()
authors_stat

  author_name  max_price  min_price  mean_price
0  Островский        370        290  330.000000
1    Тургенев        450        300  366.666667
2       Чехов        500        450  475.000000